@{
    ViewBag.Title = "Fastlink Testing";
    Layout = null;
}
<html>
<head>
    <link href="../../Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../Scripts/js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#myModal").modal('show');
        });
    </script>
</head>
<body>
    <input type="button" class="btn" value="Open fastlink" data-toggle="modal" data-target="#myModal" />
    <div id="myModal" class="modal fade">
        <div class="modal-dialog" style="width: 700px;">
            <div class="modal-content" style="width: 750px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;</button>
                </div>
                <div class="modal-body">
                    <iframe src="@ViewBag.IframeURL" style="width: 700px;" height="650px" frameBorder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close</button>
                </div>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>
